<div
  class="notification-center"
  id="box"
  *ngIf="notificationService.showNotificationCenter$ | async"
>
  <ng-container
    *ngIf="notificationsLength$ | async; else noNotificationTemplate"
    ><div class="clear-button-wrapper">
      <button class="clear-button" (click)="clearNotifications()">
        Архивировать все
      </button>
    </div>
    <app-notification-item
      *ngFor="let notification of notifications$ | async"
      [id]="notification.id"
      [title]="notification.title"
      [message]="notification.message"
      [timeDate]="notification.timeDate!"
    ></app-notification-item>
  </ng-container>
  <ng-template #noNotificationTemplate
    ><div class="empty-message">Уведомлений нет</div></ng-template
  >
</div>
