.fixed-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #f15044;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 999;
  font-weight: 400;
  font-size: 16px;

  &:hover {
    opacity: 0.8;
  }
}
